//main: ../style.less
.section{
    width: 100%;
    height: 100vh;
    //margin-top: -136px;
    position: relative;
}
.section__title{
    color: @colorOne;
    font-size: 6rem;
    font-weight: bold;
    text-align: center;
    padding-top: 8rem;
    text-transform: uppercase;
    text-shadow: 0 1px 0 #cccccc,
    0 2px 0 #c9c9c9,
    0 3px 0 #bbbbbb,
    0 4px 0 #b9b9b9,
    0 5px 0 #aaaaaa,
    0 6px 1px rgba(0, 0, 0, 0.1),
    0 0 5px rgba(0, 0, 0, 0.1),
    0 1px 3px rgba(0, 0, 0, 0.3),
    0 3px 5px rgba(0, 0, 0, 0.2),
    0 5px 10px rgba(0, 0, 0, 0.25),
    0 10px 10px rgba(0, 0, 0, 0.2),
    0 20px 20px rgba(0, 0, 0, 0.15);
    transition: 0.8s linear;
}
.section__title:hover{
    text-shadow: 0 1px 0 #cccccc,
    0 -2px 0 #c9c9c9,
    0 -3px 0 #bbbbbb,
    0 -4px 0 #b9b9b9,
    0 -5px 0 #aaaaaa,
    0 -6px 1px rgba(0, 0, 0, 0.1),
    0 0 5px rgba(0, 0, 0, 0.1),
    0 -1px 3px rgba(0, 0, 0, 0.3),
    0 -3px 5px rgba(0, 0, 0, 0.2),
    0 -5px 10px rgba(0, 0, 0, 0.25),
    0 -10px 10px rgba(0, 0, 0, 0.2),
    0 -20px 20px rgba(0, 0, 0, 0.15);


}
.section__inner{
    display: flex;
    padding-top: 6rem;
    justify-content: space-between;
}
.section__content{
    padding-bottom: 120px;
}
.content__inner{
    margin-bottom: 5rem;
}
.content__text{
    font-size: 32px;
    color: @colorOne;
    font-weight: 200;
    padding: 1rem 0;
}
.content__title{
    font-size: 45px;
    font-weight: 700;
    line-height: 53px;
    color:@colorOne; 
    margin-bottom: 15px;
    padding: 1rem 0;    
}
.section__prof{
    font-size: 3rem;
    font-weight: 500;
    color:@colorOne;
    line-height: 22px;
    padding: 1rem 0;
}
.section__photo{
    position: relative;
    width: 40rem;
}
.section__photo div{
    height: 12%;

}
.html{
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
}
.css{
    position: absolute;
    top: 20%;
    left: 25%;
    z-index: 1;
}
.js{
    position: absolute;
    top: 40%;
    left: 45%;
    z-index: 1;
}

